
/*雪花*/
@keyframes snow{

	0% {
		background-position: 0 0, 0 0;

	}

	100% {

		background-position: 500px 500px, 1000px 500px;

	}

}



#snowMask {

	position: fixed;

	left: 0;

	top: 0;

	width: 100%;

	height: 100%;

	background: url('img/snow1.png'),url('img/snow2.png');

	animation: 10s snow linear infinite;

	pointer-events: none;

}
* {
	margin: 0;
	padding: 0;
}


li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	font-family: "微软雅黑";
	background-image: url(../img/page-background.png);
	background-repeat: repeat;
	background-attachment: fixed;
	font-size: 16px;
}
	.fl {
		float: left;
	}
	.fr {
		float: right;
	}
	.goup-container{
		bottom: 10px !important;
		right: 10px !important;
	}
	.goup-text{
		right: -8px !important;
	}
.hide{
	display: none;
}
.mark{
	width: 100%;
	height: 200%;
	top:60px;
	background: rgba(0,0,0,0.4);
	position: absolute;
	z-index: 100;
}
.goTop{
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	background-color: #FECC75;
	position: fixed;
    bottom:0;
    right: 0;
    z-index: 9999;
}
.goup-container{
	background: #5A5A5A !important;
	z-index: 9999 !important;
}
.goup-text{
	z-index: 9999 !important;
	color: #5A5A5A !important;
}
.conments a {
		color: #5A5A5A;
		transition: color 0.5s linear;
	}
.conments a:hover {
		color: #FECC75;
	}
.article{
	overflow: auto;
}	
.article article img {
	margin-top: 0px;
	max-width: 100%;
	height: auto;
}
.article article ul li{
	list-style-image: url(../img/list.png);
	margin-left: 20px;
}

.article article p,h1,h2{
	margin-top: 20px;
}
.article article ul{
	margin-top: 20px;
}
.article article hr{
	
    height: 2px;
    background: #FECC75;
	width: 100%;

	border:none ;
	margin-top: 20px;
}
.footCon{
	text-align: center;
	color:rgba(255,255,255,.6);
	font-size: 12px;
}
.footCon a:hover{
	color: #FECC75;
}
.footCon a{
	color:rgba(255,255,255,.6);
	font-size: 14px;
	margin-right: 10px;
	margin-left: 10px;
	transition: all 0.5s ease;
}
@media screen and (min-width: 1200px) {

	/*//导航部分CSS*/
	.header {
		width: 100%;
		line-height: 60px;
		height: 60px;
		background-color: #333;
		overflow: hidden;
	}
	.header ul li {
		float: left;
		margin-left: 20px;
	}
	.header ul li a {
		color: #fff;
	}
	.sr-only{
		display: none;
	}
	.navBar {
		width: 1200px;
		margin: 0 auto;
	}

	/*//主体承载部分CSS*/
	.main {
		width: 1200px;
		margin: 0 auto;
		overflow: hidden;
	}
	/*//sidebar*/
	.sideBar {
		width: 25%;
		height: auto;
		float: left;
		padding-bottom: 20px;
	}
	.pInfo {
		width: 90%;
		height: 330px;
		margin: 0 auto;
		position: relative;
	}
	.pHeadPic {
		position: absolute;
		top: 20px;
		left: 27%;
		width: 120px;
		animation: pichead;
		animation-duration: 1.5s;
		height: 120px;
		border-radius: 50%;
		background: url(../img/page-background.png);
		overflow: hidden;
		z-index: 101;
	}
	@keyframes pichead {
		0% {
			top: -130px;
		}
		60% {
			top: 20px;
		}
		80% {
			top: -30px;
		}
		100% {
			top: 20px;
		}
	}
	.pHeadPic img {
		display: block;
		width: 110px;
		height: auto;
		border-radius: 50%;
		margin: 5px auto;
		box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	}
	.pContainer {
		position: absolute;
		top: 70px;
		width: 100%;
		height: auto;
		background: #FFFFFF;
		z-index: 1;
		box-shadow: 0 0 8px rgba(0, 0, 0, .5);
		padding-top: 80px;
		padding-bottom: 30px;
		text-align: center;
	}
	.pContainer .headP {
		text-align: center;
		font-size: 16px;
		color: #000;
	}
	.pContainer p {
		padding: 4px 30px 2px 30px;
		text-align: left;
		font-size: 14px;
		color: #5A5A5A;
		line-height: 1.5em;
	}
	/*印象*/
	.impressBar {
		width: 90%;
		height: auto;
		margin: 0 auto;
		padding-top: 20px;
	}
	.impressBar span {
		display: inline-block;
		background: #FFFFFF;
		padding: 5px 10px;
		text-align: center;
		border-radius: 5px;
		box-shadow: 0 0 6px rgba(0, 0, 0, .5);
		margin-top: 10px;
		margin-right: 6px;
		color: #5A5A5A;
	}
	/*其他信息*/
	.otherIfo {
		width: 90%;
		height: auto;
		margin: 0 auto;
		background: #FFFFFF;
		box-shadow: 0 0 8px rgba(0, 0, 0, .5);
		margin-top: 30px;
		overflow: hidden;
	}
	.otherIfo a {
		display: block;
		width: 100%;
		height: 50px;
		line-height: 50px;
		padding-left: 10%;
		color: #5A5A5A;
		transition: color 0.5s linear;
	}
	.otherIfo a:hover {
		background: #fecc75;
		color: #FFFFFF;
	}
	.otherIfo #search {
		border: none;
		width: 200px;
		height: 30px;
		line-height: 30px;
		font-size: 16px;
	}
	/*其他信息图标*/
	.otherIfo i {
		font-size: 16px;
		margin-right: 10px;
	}
	.otherIfo a .iconS {
		font-size: 20px;
	}
	/*右侧内容*/
	.content {
		width: 75%;
		float: left;
		padding-top: 30px;
		overflow: hidden;
		padding-bottom: 20px;
	}
	.article {
		font-size: 15px;
		width: 86%;
		margin: 0 auto;
		margin-top: 40px;
		padding: 40px;
		background: #FFFFFF;
		box-shadow: 0 0 4px rgba(0, 0, 0, .5);
		color: #5a5a5a;
	}
	.article header {
		font-size: 26px;
		padding-bottom: 14px;
	}
	.article article {
		line-height: 1.75em;
	}
	.article a {
		transition: color 0.3s linear;
		color: #5A5A5A;
	}
	.article a:hover {
		color: #FECC75;
	}
	.article footer {
		padding-top: 20px;
		font-size: 14px;
		color: #aaa;
	}
	#arFoot {
		padding-top: 0;
		padding-bottom:0px;
	}
	.article footer span {
		margin-right: 10px;
		vertical-align: bottom;
	}
	.article footer a {
		margin-left: 4px;
		color: #aaa;
	}
	/*图标*/
	.article footer i {
		font-size: 12px;
		vertical-align: top;
		padding-right: 4px;
	}
	/*分页*/
	.articlePage .next {
		float: right;
	}
	/*.timeIco {
		background-image: url(../img/time.png);
	}
	.fenlei {
		background-image: url(../img/fl.png);
	}
	.hitNum {
		background: url(../img/view.png);
	}
	.lyNum {
		background: url(../img/ly.png);
	}
	.biaoji {
		background: url(../img/mark.png);
	}*/
	.conments {
		font-size: 15px;
		width: 86%;
		margin: 0 auto;
		margin-top: 40px;
		padding: 20px 40px 20px 40px;
		background: #FFFFFF;
		box-shadow: 0 0 4px rgba(0, 0, 0, .5);
		color: #5a5a5a;
		overflow: hidden;
	}
	.conments .review {
		font-size: 16px;
	}
	.conments .review input {
		margin-right: 54px;
		width: 200px;
		height: 28px;
		border: none;
		border-bottom: 2px solid #5A5A5A;
		transition: 0.5s border-width ease, 0.5s border-color ease;
	}
	.conments .review input:hover {
		border-bottom: 2px solid #FECC75;
	}
	.conments .review textarea {
		padding-top: 10px;
		padding-left: 10px;
		margin-top: 20px;
		width: 98%;
		height: 120px;
		border-bottom: 2px solid #5A5A5A;
		transition: 0.5s border-width ease, 0.5s border-color ease;
	}
	.conments .review textarea:hover {
		border-bottom: 2px solid #FECC75;
	}
	.conments .review #rvbtn{
		background: none;
        transition: 0.5s background-color ease,0.5s color ease;
		color: #5A5A5A;
		width: 100px;
		font-size: 14px;
	}
	.conments .review #rvbtn:hover{
		background-color: #FECC75;
		color: #FFFFFF;
	}
	
	.comment-list span img{
	    width: 20px;
	    height: 20px;
	    border-radius: 50%;
	}
	.comment-list a{
		color: #5A5A5A;
			transition: 0.6s color ease;
	}
	.comment-list a:hover{
		color: #FECC75;
	
	}
	
	.comment-list .comment-author{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.comment-list .comment-meta{
		float: right;
	}
	.comment-list .comment-reply{
		vertical-align: bottom;
		width: 100%;
		border-bottom: 1px solid #5A5A5A;
		padding:0px 0px 10px 0px;
		text-align: right;
	}
	.comment-list p{
		width: 70%;
	}
	.comment-list cite{
		font-style: normal;
		font-size: 20px;
	}
	.comment-list .comment-child{
		padding-left: 40px;
	
	}
	.comment-list .comment-child .comment-child{
		padding-left: 80px;
	}

	.articlePage {
		font-size: 15px;
		width: 95%;
		margin: 0 auto;
		margin-top: 40px;
		background: #FFFFFF;
		box-shadow: 0 0 4px rgba(0, 0, 0, .5);
		color: #5a5a5a;
		overflow: hidden;
	}
	.articlePage a{
		display: inline-block;
		height: 40px;
		line-height: 40px;
		width: 100px;
		color: #5A5A5A;
		text-align: center;
		transition: all 0.5s ease;
	}
	.articlePage a:hover{
		color: #FFF;
		background: #FECC75;
	}
	/*foot*/
	.footer {
		margin-top: 20px;
		width: 100%;
		background: #333333;
		color: #FFFFFF;
		height: 50px;
		line-height: 50px;

	}
	.footCon {
		width: 1008px;
		margin: 0 auto;
	}
}

/*s2*/
@media screen and (max-width:1199px) and (min-width:300px) {
	

	/*//导航部分CSS*/
	.header {
		width: 100%;
		line-height: 60px;
		height: 60px;
		background-color: #333;
		overflow: hidden;
	}
	.header ul li {
		float: left;
		margin-left: 20px;
	}
	.header ul li a {
		color: #fff;
	}
	.navBar {
		display: none;
		width: 80%;
		margin: 0 auto;
	}
	.sr-only{
		width: 100%;
		position: relative;
	} 
	.sr-only .menuIco{
		width: 40px;
		height: 40px;
	   	position: absolute;
		right: 20px;
		top: 0px;
		color: #fff;

	}
	.menuIco i{
		font-size: 30px;
	}
	/*//主体承载部分CSS*/
	.main {
		width: 100%;
		margin: 0 auto;
		overflow: hidden;
	}
	/*//sidebar*/
	.sideBar {
	   display: none;
		width: 300px;
		height: 200%;
		float: left;
		padding-bottom: 20px;
		position: absolute;
		animation:sfade;
		top: 60px;
		left: 0px;
		z-index: 1000;
		background: url(../img/page-background.png);
	}
	.pInfo {
		width: 90%;
		height: 330px;
		margin: 0 auto;
		position: relative;
	}
	.pHeadPic {
		position: absolute;
		top: 20px;
		left: 27%;
		width: 120px;
		animation: pichead;
		animation-duration: 1.5s;
		height: 120px;
		border-radius: 50%;
		background: url(../img/page-background.png);
		overflow: hidden;
		z-index: 100;
	}
	@keyframes pichead {
		0% {
			top: -130px;
		}
		60% {
			top: 20px;
		}
		80% {
			top: -30px;
		}
		100% {
			top: 20px;
		}
	}
	.pHeadPic img {
		display: block;
		width: 110px;
		height: auto;
		border-radius: 50%;
		margin: 5px auto;
		box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	}
	.pContainer {
		position: absolute;
		top: 70px;
		width: 100%;
		height: auto;
		background: #FFFFFF;
		z-index: 1;
		box-shadow: 0 0 8px rgba(0, 0, 0, .5);
		padding-top: 80px;
		padding-bottom: 30px;
		text-align: center;
	}
	.pContainer .headP {
		text-align: center;
		font-size: 16px;
		color: #000;
	}
	.pContainer p {
		padding: 4px 30px 2px 30px;
		text-align: left;
		font-size: 14px;
		color: #5A5A5A;
		line-height: 1.5em;
	}
	/*印象*/
	.impressBar {
		width: 90%;
		height: auto;
		margin: 0 auto;
		padding-top: 20px;
	}
	.impressBar span {
		display: inline-block;
		background: #FFFFFF;
		padding: 5px 10px;
		text-align: center;
		border-radius: 5px;
		box-shadow: 0 0 6px rgba(0, 0, 0, .5);
		margin-top: 10px;
		margin-right: 6px;
		color: #5A5A5A;
	}
	/*印象*/
	.impressBar {
		width: 90%;
		height: auto;
		margin: 0 auto;
		padding-top: 20px;
	}
	.impressBar span {
		display: inline-block;
		background: #FFFFFF;
		padding: 5px 10px;
		text-align: center;
		border-radius: 5px;
		box-shadow: 0 0 6px rgba(0, 0, 0, .5);
		margin-top: 10px;
		margin-right: 6px;
		color: #5A5A5A;
	}
	/*其他信息*/
	.otherIfo {
		width: 90%;
		height: auto;
		margin: 0 auto;
		background: #FFFFFF;
		box-shadow: 0 0 8px rgba(0, 0, 0, .5);
		margin-top: 30px;
		overflow: hidden;
	}
	.otherIfo a {
		display: block;
		width: 100%;
		height: 50px;
		line-height: 50px;
		padding-left: 10%;
		color: #5A5A5A;
		transition: color 0.5s linear;
	}
	.otherIfo a:hover {
		background: #fecc75;
		color: #FFFFFF;
	}
	.otherIfo #search {
		border: none;
		width: 200px;
		height: 30px;
		line-height: 30px;
		font-size: 16px;
	}
	/*其他信息图标*/
	.otherIfo i {
		font-size: 16px;
		margin-right: 10px;
	}
	.otherIfo a .iconS {
		font-size: 20px;
	}
	/*右侧内容*/
	.content {
		width: 98%;
		padding-top: 30px;
		overflow: hidden;
		margin: 0 auto;
		padding-bottom: 20px;
	}
	.article {
		font-size: 15px;
		width: 75%;
		margin: 0 auto;
		margin-top: 40px;
		padding: 40px;
		background: #FFFFFF;
		box-shadow: 0 0 4px rgba(0, 0, 0, .5);
		color: #5a5a5a;
	}
	.article header {
		font-size: 26px;
		padding-bottom: 14px;
	}
	.article article {
		line-height: 1.75em;
	}
	.article a {
		transition: color 0.3s linear;
		color: #5A5A5A;
	}
	.article a:hover {
		color: #FECC75;
	}
	.article footer {
		padding-top: 20px;
		font-size: 14px;
		color: #aaa;
	}
	#arFoot {
		padding-top: 0;
		padding-bottom: 20px;
	}
	.article footer span {
		margin-right: 10px;
		vertical-align: bottom;
	}
	.article footer a {
		margin-left: 4px;
		color: #aaa;
	}
	/*图标*/
	.article footer i {
		font-size: 12px;
		vertical-align: top;
		padding-right: 4px;
	}
	/*分页*/
	.articlePage .next {
		float: right;
	}
	/*.timeIco {
		background-image: url(../img/time.png);
	}
	.fenlei {
		background-image: url(../img/fl.png);
	}
	.hitNum {
		background: url(../img/view.png);
	}
	.lyNum {
		background: url(../img/ly.png);
	}
	.biaoji {
		background: url(../img/mark.png);
	}*/
	.conments {
		font-size: 15px;
		width: 75%;
		margin: 0 auto;
		margin-top: 40px;
		padding: 20px 40px 20px 40px;
		background: #FFFFFF;
		box-shadow: 0 0 4px rgba(0, 0, 0, .5);
		color: #5a5a5a;
		overflow: hidden;
	}
	.conments .review {
		font-size: 16px;
	}
	.conments .review input {
		margin-right: 54px;
		width: 160px;
		height: 28px;
		border: none;
		border-bottom: 2px solid #5A5A5A;
		transition: 0.5s border-width ease, 0.5s border-color ease;
	}
	.conments .review input:hover {
		border-bottom: 2px solid #FECC75;
	}
	.conments .review textarea {
		padding-top: 10px;
		padding-left: 10px;
		margin-top: 20px;
		width: 98%;
		height: 120px;
		border-bottom: 2px solid #5A5A5A;
		transition: 0.5s border-width ease, 0.5s border-color ease;
	}
	.conments .review textarea:hover {
		border-bottom: 2px solid #FECC75;
	}
	.conments .review #rvbtn{
		background: none;
        transition: 0.5s background-color ease,0.5s color ease;
		color: #5A5A5A;
		width: 100px;
		font-size: 14px;
	}
	.conments .review #rvbtn:hover{
		background-color: #FECC75;
		color: #FFFFFF;
	}
	
	.comment-list span img{
	    width: 20px;
	    height: 20px;
	    border-radius: 50%;
	}
	.comment-list a{
		color: #5A5A5A;
			transition: 0.6s color ease;
	}
	.comment-list a:hover{
		color: #FECC75;
	
	}
	
	.comment-list .comment-author{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.comment-list .comment-meta{
		float: right;
	}
	.comment-list .comment-reply{
		vertical-align: bottom;
		width: 100%;
		border-bottom: 1px solid #5A5A5A;
		padding:0px 0px 10px 0px;
		text-align: right;
	}
	.comment-list p{
		width: 70%;
	}
	.comment-list cite{
		font-style: normal;
		font-size: 20px;
	}
	.comment-list .comment-child{
		padding-left: 40px;
	
	}
	.comment-list .comment-child .comment-child{
		padding-left: 80px;
	}

	.articlePage {
		font-size: 15px;
		width: 75%;
		margin: 0 auto;
		margin-top: 40px;
		padding: 10px 40px 10px 40px;
		background: #FFFFFF;
		box-shadow: 0 0 4px rgba(0, 0, 0, .5);
		color: #5a5a5a;
		overflow: hidden;
	}
		.articlePage a{
		display: inline-block;
		height: 40px;
		line-height: 40px;
		width: 100px;
		color: #5A5A5A;
		text-align: center;
		transition: all 0.5s ease;
	}
	.articlePage a:hover{
		color: #FFF;
		background: #FECC75;
	}
	/*foot*/
	.footer {
		margin-top: 20px;
		width: 100%;
		background: #333333;
		color: #FFFFFF;
	

	}
	.footCon {
		width: 100%;
		margin: 0 auto;
		padding: 20px 0;
	}
    .article article img {
        margin-top: 20px;
        max-width: 100%;
        height: auto;
    }
}